{"openapi":"3.0.3","info":{"title":"NewBank Backend API","version":"1.0.0","description":"API MVP para analise de credito baseada em formulario mensal."},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"RegisterInput":{"type":"object","required":["name","email","cpf","password"],"properties":{"name":{"type":"string","example":"Joao Silva"},"email":{"type":"string","format":"email","example":"joao@email.com"},"cpf":{"type":"string","example":"12345678900"},"password":{"type":"string","minLength":8,"example":"senha-super-segura"}}},"LoginInput":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","format":"email"},"password":{"type":"string"},"passwordEncypted":{"type":"boolean","default":false,"description":"Quando true, o campo password deve conter o hash salvo no banco e a validacao e por igualdade direta."},"passwordEncrypted":{"type":"boolean","default":false,"description":"Alias de passwordEncypted."}}},"AuthUser":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"email":{"type":"string","format":"email"},"riskLevel":{"type":"string","enum":["low","medium","high"]},"lastLoginAt":{"type":"string","format":"date-time"}}},"AuthTokenResponse":{"type":"object","properties":{"access_token":{"type":"string"},"token_type":{"type":"string","example":"Bearer"},"user":{"$ref":"#/components/schemas/AuthUser"}}},"DecisionStatus":{"type":"string","enum":["approved","approved_with_risk","denied"]},"Decision":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"userId":{"type":"string","format":"uuid"},"scoreId":{"type":"string","format":"uuid"},"status":{"$ref":"#/components/schemas/DecisionStatus"},"creditLimit":{"type":"string","example":"2000.00"},"reason":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"DecisionInput":{"type":"object","required":["user_id"],"properties":{"user_id":{"type":"string","format":"uuid"},"score_id":{"type":"string","format":"uuid"}}},"IncomeFrequency":{"type":"string","enum":["daily","weekly","monthly","irregular"]},"FinancialData":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"userId":{"type":"string","format":"uuid"},"referenceMonth":{"type":"string","format":"date"},"monthlyIncome":{"type":"string","example":"5000.00"},"incomeFrequency":{"$ref":"#/components/schemas/IncomeFrequency"},"monthlyExpenses":{"type":"string","example":"2200.00"},"createdAt":{"type":"string","format":"date-time"}}},"FinancialDataInput":{"type":"object","required":["user_id","reference_month","monthly_income","income_frequency","monthly_expenses"],"properties":{"user_id":{"type":"string","format":"uuid"},"reference_month":{"type":"string","format":"date","example":"2026-04-01"},"monthly_income":{"type":"number","example":5000},"income_frequency":{"$ref":"#/components/schemas/IncomeFrequency"},"monthly_expenses":{"type":"number","example":2200}}},"Score":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"userId":{"type":"string","format":"uuid"},"score":{"type":"integer","minimum":0,"maximum":1000},"reason":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"ScoreInput":{"type":"object","required":["user_id"],"properties":{"user_id":{"type":"string","format":"uuid"},"reference_month":{"type":"string","format":"date","example":"2026-04-01"}}},"Error":{"type":"object","properties":{"error":{"type":"string","example":"bad_request"},"message":{"type":"string","example":"Campo obrigatorio ausente"}}},"User":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"email":{"type":"string","format":"email"},"riskLevel":{"type":"string","enum":["low","medium","high"]},"createdAt":{"type":"string","format":"date-time"}}},"CreateUserInput":{"type":"object","required":["name","email","cpf","password"],"properties":{"name":{"type":"string","example":"Joao Silva"},"email":{"type":"string","format":"email","example":"joao@email.com"},"cpf":{"type":"string","example":"12345678900"},"password":{"type":"string","minLength":8,"example":"senha-super-segura"}}}}},"servers":[{"url":"https://api-newbank.adav1d-vps.mywire.org","description":"Current"}],"paths":{"/auth/register":{"post":{"tags":["Auth"],"summary":"Cria conta com senha e CPF protegido","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterInput"}}}},"responses":{"201":{"description":"Conta criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUser"}}}},"400":{"description":"Erro de validacao"},"409":{"description":"Email ou CPF ja existente"}}}},"/auth/login":{"post":{"tags":["Auth"],"summary":"Realiza login e retorna token de acesso","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginInput"}}}},"responses":{"200":{"description":"Login realizado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthTokenResponse"}}}},"400":{"description":"Erro de validacao"},"401":{"description":"Credenciais invalidas"},"429":{"description":"Muitas tentativas"}}}},"/auth/me":{"get":{"tags":["Auth"],"summary":"Retorna usuario autenticado","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Usuario autenticado"},"401":{"description":"Token ausente ou invalido"}}}},"/decisions":{"post":{"tags":["Decisions"],"summary":"Gera uma decisao de credito a partir do score","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DecisionInput"}}}},"responses":{"201":{"description":"Decisao criada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Decision"}}}},"400":{"description":"Erro de validacao"},"404":{"description":"Usuario ou score nao encontrado"},"500":{"description":"Erro interno"}}}},"/decisions/{user_id}":{"get":{"tags":["Decisions"],"summary":"Retorna a decisao de credito mais recente do usuario","parameters":[{"in":"path","name":"user_id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Decisao retornada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Decision"}}}},"404":{"description":"Usuario ou decisao nao encontrado"},"500":{"description":"Erro interno"}}}},"/financial-data":{"post":{"tags":["FinancialData"],"summary":"Cria ou atualiza snapshot mensal do formulario","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancialDataInput"}}}},"responses":{"201":{"description":"Snapshot salvo com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancialData"}}}},"400":{"description":"Erro de validacao"},"404":{"description":"Usuario nao encontrado"},"500":{"description":"Erro interno"}}}},"/history/{user_id}":{"get":{"tags":["History"],"summary":"Retorna historico financeiro mensal do usuario","parameters":[{"in":"path","name":"user_id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Historico retornado com sucesso","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FinancialData"}}}}},"404":{"description":"Usuario nao encontrado"},"500":{"description":"Erro interno"}}}},"/scores":{"post":{"tags":["Scores"],"summary":"Calcula e salva um novo score","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScoreInput"}}}},"responses":{"201":{"description":"Score criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Score"}}}},"400":{"description":"Erro de validacao"},"404":{"description":"Usuario ou dados financeiros nao encontrados"},"500":{"description":"Erro interno"}}}},"/scores/{user_id}":{"get":{"tags":["Scores"],"summary":"Retorna o score mais recente do usuario","parameters":[{"in":"path","name":"user_id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Score retornado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Score"}}}},"404":{"description":"Usuario ou score nao encontrado"},"500":{"description":"Erro interno"}}}},"/users":{"post":{"tags":["Users"],"summary":"Cria um novo usuario","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserInput"}}}},"responses":{"201":{"description":"Usuario criado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"400":{"description":"Erro de validacao","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Email ou CPF ja existente","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Erro interno"}}}}},"tags":[]}